.App {
    text-align: center;
}

.options {
    margin-left: 5px;
}

#productsTable {
    border: 1px solid black;
}

#productform {
    margin: auto;
}

.label {
    text-align: left;
}

#submitbutton {
    margin-top: 15px;
}